<h2><%= @user.name %>'s Tweets!</h2>
<a href="/tweets/new">New Tweet</a> <a href="/logout">Logout</a>

<h3>Tweets</h3>
<% Tweet.all.each do |t| %>
    <p><a href="/tweets/<%= t.id %>"><%= t.content %></a></p>
<% end %>